* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #e8e8e8;
}

.container {
    margin: 60px auto;
    padding: 30px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}