* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #20C599;
}

body {
    background-image: linear-gradient(white, silver);
    font-family: 'Lato', sans-serif;
}

.site {
    max-width: 1200px;
    margin: 30px auto;
    z-index: 3;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3;
    position: relative;
}

.single-card {
    flex: 0 0 calc(33% - 20px);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.single-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1;
}

.media {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 3px;
}

.avatar {
    width: 19%;
    position: absolute;
    top: 120px;
    right: -13px;
    border-radius: 50%;
    border: 5px solid #F8F8F8;
    z-index: 3;
}

header {
    position: relative;
}

.tag {
    border-radius: 3px;
    font-size: 12px;
    background: #20C599;
    color: #F8F8F8;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
}

.author-name {
    border-radius: 3px;
    position: absolute;
    background: #F8F8F8;
    font-size: 11px;
    padding: 7px;
    top: 143px;
    right: 51px;
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

}

.meta-data {
    background: #F8F8F8;
    padding: 10px;
    font-size: 12px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -28px;
    display: flex;
    flex-direction: column;;
    gap: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
}

main > * {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
}

.single-group {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    color: #555555;
    font-size: 12px;
    padding: 5px;
}

.pricing {
    font-weight: bold;
    font-size: 18px;
}

.card-footer {
    margin: 0 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

}

.card-footer .single-group {
    background: #cec9c9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #20C599;
}

.card-footer i {
    font-size: 18px;
    font-weight: bold;

}
