@media screen and (max-width: 600px) {
    header nav ul li {
        display: flex;
        justify-content: center;
    }

    .header-title {
        padding: 20px;
    }

    .header-title h1 {
        padding: 0;
        font-size: 28px;
    }

    .header-title p {
        font-size: 22px;
    }
}