* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

body {
    padding: 2em;
}

h2 {
    margin-top: 2em;
}

pre {
    background-color: #e8e7e7;
    display: block;
    padding: 2em 2em 2em 1em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    overflow: auto;
}

input,
textarea {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #090;
}

select {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
}