@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", sans-serif;
}

body {
    background-color: #C1BDBA;
}

.container {
    width: 45%;
    margin: 50px auto;
    padding: 40px;
    background-color: #24333C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-two-btn {
    width: 100%;
    height: 50px;
    display: flex;
}

.sing-up-btn,
.log-in-btn {
    width: 50%;
    border: none;
    background-color: #1AB188;
    color: white;
    font-size: 20px;
}

.log-in-btn {
    background-color: #435359;
}

h1 {
    padding: 30px 0;
    color: white;
    font-weight: 500;
}

input {
    background-color: inherit;
    border: 1px solid gray;
    padding: 10px;
}

.lower-form {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.name-fields {
    display: flex;
    gap: 15px;
}

.name-fields input {
    flex: 1;
}

.start-btn {
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    font-size: 26px;
    background-color: #1AB188;
    color: white;
}

input::placeholder {
    font-size: 18px;
}

.lower-form input {
    position: relative;
}

form {
    content: "*";
    position: absolute;
    color: #1ab188;
}

