p.highlight {
    color: dodgerblue;
}

div#uniqueDiv {
    background: #ffb050;
    padding: 5px;
}

.item-list li:first-child {
    color: #17A2B8;
}

.item-list li:nth-child(3) {
    color: #DC3545;
    font-style: italic;
}

p.website-link a {
    color: coral;
    text-decoration:underline;
    border-bottom: 1.5px solid coral;
}

p.multiple-classes {
    color: #0000EE;
}