p.highlight {
    color: dodgerblue;
}

div#uniqueDiv {
    background: #ffb050;
    padding: 5px;
}

.item-list li:first-child {
    color: #17A2B8;
}

.item-list li:nth-child(3) {
    color: #DC3545;
    font-style: italic;
}

p.website-link a {
    color: coral;
    text-decoration:underline;
    border-bottom: 1.5px solid coral;
}

p.multiple-classes {
    color: #0000EE;
}

input[type="text"].input-field {
  border: 2px solid #32CD32; /* Lime green border */
  padding: 10px;
}

/* Low specificity */
.container {
  background-color: lightgray;
  padding: 10px;
}

/* Higher specificity due to ID selector */
#special-container {
  background-color: lightblue;
}

/* Even higher specificity with both ID and class */
div#special-container.container {
  background-color: coral;
}

div.inputs {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    max-width: 200px;
}
