div {
    margin: 5px;
    max-width: 330px;
}

p {
    padding: 10px;
}

.solid-border {
    border: 4px solid black;
}

.dashed-border {
    border: 3px dashed #333;
}

.dotted-border {
    border: 2px dotted #665;
}

.mixed-border {
    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}