.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000
}

/* First section: flex-basis: 5em */
.flex-basis-5em .flex-item {
    flex: 1 1 5em; /* flex-grow: 1, flex-shrink: 1 (default), flex-basis: 5em */
}

/* Second section: flex-basis: 5em, flex-shrink: 0 */
.flex-shrink-zero .flex-item {
    flex: 1 0 5em; /* flex-grow: 1, flex-shrink: 0, flex-basis: 5em */
}

/* Third section: flex-basis: 5em, flex-grow: 1 */
.flex-grow-one {
    width: 900px;
}

.flex-grow-one .flex-item {
    flex: 1 1 5em; /* flex-grow: 1, flex-shrink: 1 (default), flex-basis: 5em */
}