body {
    background: #EBEBEB;
    font-family: sans-serif;
}

body a {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 30%;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    overflow: hidden;
    background: #FFF;
}

.img-container img {
    width: 100%;
}

.main-container {
    padding: 10px 20px;
}

.main-container h2 {
    margin: 0;
    font-size: 1em;
}

footer p {
    margin: 0;
}

.f-bold {
    font-weight: bold;
}

.f-italic {
    font-style: italic;
}

.limit-lines {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}