@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e0e0e0;
    font-family: 'Gochi Hand';
    height: 100vh;
    font-size: 14px;
}

.card-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    overflow: hidden;
}

.card-top {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.img-text {
    position: absolute;
    bottom: 32px;
    width: 90%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.card-bottom {
    padding: 0 40px 20px 40px;
    border-top: 1px solid #c6c6c6;
    background-color: #F9F9F9;
}

.card-top h2 {
    padding: 10px;
}

.card-bottom h2 {
    padding: 25px 0;
}

.card-bottom p {
    padding-bottom: 10px;
}

p {
    opacity: 0.6;
}