* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Lato, sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 500px; /* Adjust the height as needed */
    background-image: url('images/image1.jpg'); /* Replace with actual image URL */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-text h1 {
    font-size: 2.3em;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 1.5em;
}

