* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #59bc59;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

ul li {
    margin-right: 20px;
    padding: 15px 0;
}

nav {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
}

.spotify-logo {
    width: 70px;
    top: 7px;
    position: absolute;
}

h2 {
    position: absolute;
    top: 110px;
    color: white;
}