body {
    background-color: #EDEDED;
}

h2 {
    background-color: #3C516B;
    color: white;
    text-decoration: underline;
    letter-spacing: 3px;
    padding: 15px;
    border-radius: 8px;
}

section {
    max-width: 500px;
}