* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #e8e8e8;
}

.container {
    margin: 200px auto;
    width: 70%;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 15px;
    border-radius: 3px;
}

input,
button {
    background-color: #e8e8e8;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    width: 100%;
    border-radius: 3px;
}

button {
    background-color: orange;
}

.item-one,
.item-three {
    flex: 1;
}

.item-two {
    flex: 2;
}

@media (max-width: 600px) {
    .item-one, .item-two {
        flex: 0 0 48%; /* Name and Email fields stay in one row */
        margin-bottom: 10px;
    }

    .item-three {
        flex: 0 0 100%; /* Button takes full width on a new row */
    }

    .container {
        gap: 0;
    }

    .item-one {
        flex: 1;
        margin-right: 10px;
    }

    .item-two {
        flex: 2;
    }
}
