@import url('https://fonts.googleapis.com/ \
css2?family=Montserrat+Alternates:ital, \
wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700; \
0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600; \
1,700;1,800;1,900&family=Montserrat:ital,wght@0, \
100..900;1,100..900&display=swap');

table {
    width: 500px;
    border-collapse: separate;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: 'Montserrat',
    sans-serif;
}
th {
    background-color: #ADD8E6;
    font-weight: bold;
}