* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 900;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

h2 {
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

label {
    color: #575757;
}

input,
textarea {
    border: none;
    border-bottom: 3px solid #f0f0f0;
}

form.data label {
    margin-top: 20px;
}

p {
    color: #acacac;
    font-style: italic;
}

button  {
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
}