@import url('https://fonts.googleapis.com/ \
css2?family=Anton&family=Lato:ital, \
wght@0,100;0,300;0,400;0,700;0,900; \
1,100;1,300;1,400;1,700;1, \
900&family=Open+Sans:ital, \
wght@0,300..800;1,300..800&display=swap');

body, ul {
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Lato', sans-serif;
}

.site-header {
    box-shadow: 0 3px 8px -4px #ccc;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.logo-container img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
}

.login-nav-item * {
    display: inline-block;
    vertical-align: middle;
}

.login-btn {
    margin: 10px;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #565656;
}

.nav-link:hover {
    color: #FF9100;
    cursor: pointer;
}

.btn {
    background-color: #FF9100;
    color: white;
    border-radius: 14px;
    padding: 12px 16px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 3px 8px -4px #ccc;
}

.intro {
    background-color: #FF9100;
    color: white;
    text-align: center;
    padding: 60px 120px 90px 120px;
}

.intro h1 {
    font-size: 50px;
}

.filters {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.filters-title {
    font-size: 22px;
}

.filters * {
    display: inline-block;
    vertical-align: middle;
}

.filters label input {
    border: 1px solid #FF9100;
    border-radius: 4px;
    padding: 12px;
    background-color: transparent;
    margin-left: 10px;
}

.filters label {
    position: relative;
}

.question_mark-icon {
    position: absolute;
    top: 12px;
    right: -25px;
}

.filters label::after {
    content: "";
    display: block;
    clear: both;
    background-image: url(images/input-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 7px;
}

.trainings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.training {
    margin: 20px;
    box-shadow: 0 2px 4px 0 #00000024;
    border-radius: 12px;
}

.training:nth-child(1) header,
.training:nth-child(3) header {
    background-color: #44A9F8;
    color: white;
}

.training:nth-child(2) header {
    background-color: #FF9100;
    color: white;
}

.training header {
    height: 150px; /* Fixed height for the header */
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
}

.training header h3 {
    text-align: center;
    padding: 60px 30px;
    font-size: 21px;
    margin: 0;
}

.training header span {
    background-color: #676781;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px
}

.training:nth-child(3) header span {
    background-color: #9A5DC6;
}

.training-content {
    padding: 20px;
}

.training-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to a new line */
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center items horizontally */
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.training-content-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between items */
    flex-wrap: wrap; /* Ensure items wrap to new line when needed */
    justify-content: center;
    margin: 8px;
}

.training-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #F1E6E6FF;
    width: 100%;
}


.training footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}

.training-price {
    font-size: 24px;
    color: #bd3030;
}

.training-cta .btn {
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}

.dots-line-container {
    display: flex;
    justify-content: center;
    padding: 0 40px;

}

.program {
    border-radius: 12px;
    margin: 10px;
}

.programs-content {
    display: flex;
    text-align: center;
    margin: 60px 30px 30px 30px;
    gap: 30px;
}

.program.software {
    border: 3px solid #44A9F8;
    background: #E3F3FD;
}

.program.hardware {
    border: 3px solid #00AF9B;
    background: #DFF4F1;
}

.program.software h4 {
    font-size: 30px;
    color: #44A9F8;
}

.program.hardware h4 {
    font-size: 30px;
    color: #00AF9B;
}

.programs > header {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
    box-shadow: none;
    padding: 20px 70px 20px 70px; /* Optional: Add some padding for spacing */
}

.program-header {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    justify-content: center; /* Centers items horizontally */
    gap: 10px; /* Space between the icon and the text */
}

.program-header h4 {
    margin: 25px;
}

.btn-ph {
    background-color: #FF9100;
    color: white;
    border-radius: 14px;
    padding: 12px 16px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 3px 8px -4px #ccc;
    margin: 15px 0 20px 0;
}

.program-header h3 {
    padding: 20px 30px;
    font-size: 21px;
}

.programs header h2 {
    font-size: 30px;
    color: #00AF9B;
}

.programs.btn {
    padding: 0 0 25px 0;
}

.page-footer {
    background: #565656;
    color: white;
    position: relative;
    padding-left: 25%;
    margin-top: 210px;
    border-top: 8px solid #919191;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.page-footer ul {
    list-style-type: none;
}

.page-footer a {
    text-decoration: none;
    color: white;
}

.footer-person-container img {
    position: absolute;
    bottom: 0;
    left: 40px;

}

.page-footer h5 {
    font-size: 24px;
}

.footer-menu li {
    margin: 15px 0;
}

.social-media  ul {
    display: flex;
}

.social-media ul li {
    margin: 0 10px;
}

.social-media  {
    padding-right: 40px;
}

.social-media h5 {
    margin: 40px 0 15px 0;
}