* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

p {
    margin-top: 10px;
}

.attribute {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.code {
    border: 2px solid #d4d4d4;
    background: #e4e4e4;
    border-radius: 4px;
    padding: 20px;
}

input[type="search"] {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid #c9c9c9;
}
