* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

p {
    margin-top: 10px;
}

.attribute {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.code {
    border: 2px solid #d4d4d4;
    background: #e4e4e4;
    border-radius: 4px;
    padding: 20px;
}

input[type="search"] {
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 2px solid #ccc;
    outline: none;
    width: 200px;
    margin-right: 10px;
}

input[type="search"]:focus {
    border-color: #090;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}