@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    .navigation-links-nav {
        display: flex;
        flex-direction: column;
    }

    .navigation-links-text1 {
        margin: 10px 0;
    }

    .home-header {
        padding: 21px 0;
        flex-direction: column;
        height: auto;

    }

    .home-container01 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .home-container02 {

        width: 90%;
        position: relative;
        top: -15px;
    }

    .home-nav {
        padding: 0;
        position: relative;
        top: -10px;
    }

    .blog-post-card3-blog-post-card {
        display: flex;
        flex-direction: column;
    }

    .home-stats {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .home-stat {
        flex: 1 1 calc(50% - 20px);
        box-sizing: border-box;
    }

    .home-container06 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-container07 {
        align-items: center;
        width: 100%;
    }

    .home-container07 span {
        text-align: center;
    }

    .home-container09,
    .home-container10 {
        width: 100%;
        margin: 0;
    }

    .home-container08 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}