@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.85;
}

.logo-img {
    position: absolute;
    width: 100px;
    left: 232px;
    top: 35px;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

nav {
    position: absolute;
    right:240px;
    top: 75px;
    font-size: 14px;
    font-weight: bold;
}

.text-container {
    position: absolute;
    top: 235px;
    right: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.title {
    font-size: 50px;
    margin-bottom: 25px;
}

.text-container p {
    font-size: 20px;
}

.text-container button {
    margin-top: 35px;
    padding: 10px 15px ;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    color: grey;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.catalog-container-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #52ABBE;
}

.catalog-container-upper {
    padding: 35px 20px;
}

.catalog-container-upper p {
    padding-bottom: 25px;
}

.articles,
.info {
    display: flex;
}

.article-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.article-img-container img {
    width: 120%;
    height: 100%;
    object-fit: cover;
}
