table {
    width: 70%;
    border-collapse: collapse;
    margin: 30px auto;
}

th, td, tr {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

thead > tr > th {
    text-align: center;
}

.bold {
    font-weight: bold;
    text-align: center;
}