table {
    width: 75%;
    border-collapse: collapse;
    margin: 30px auto;
}

th, td {
    border: 1px solid black;
    padding: 8px 10px;
}

.bold {
    font-weight: bold;
    text-align: center;
}