* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    justify-content: center;
    width: 1025px;
    margin: 50px 150px;
    border: 4px solid black;
    background-color: #1881B6;
    border-radius: 10px;
}

.text-box {
    padding: 55px 20px 30px 0;
}

.text-box h3 {
    padding-bottom: 20px;
}

.text-box h1 {
    padding-bottom: 20px;
    color: white;
    font-size: 38px;
}

.text-box pre {
    line-height: 27px;
}

.button-box {
    text-align: center;
}

button {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.contact {
    margin-right: 90px;
    background-color: #B6416D;
    color: white;
}

.learn-more {
    background-color: inherit;
}

.img-box {
    display: flex;
    align-items: center;
}

img {
    width: 300px;
}