@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-nav ul,
.bottom-nav,
button {
    font-family: "Roboto", sans-serif;
}

.info,
.big-text,
.small-text,
footer p,
.container-top,
.container-bottom,
.data input::placeholder,
.data textarea::placeholder {
    font-family: "Playwrite PE", sans-serif;
}

.info,
.top-nav ul,
.big-text,
.header-btn,
.right-btn,
.container-top,
.container-bottom {
    color: #2F4880;
}

.top-nav ul,
button {
    font-weight: bold;
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 25px;
    padding: 50px 0;
}

.top-nav ul li:first-child,
.red-text {
    color: red;
}

.header-btn {
    border: 3px solid red;
    border-radius: 8px;
    padding: 15px 50px;
    margin-top: 15px;
}

.header-content {
    display: flex;
    margin-top: 70px;
}

.header-text {
    position: relative;
    z-index: 2;
    left: 70px;
}

.big-text {
    font-size: 70px;
}

.small-text {
    opacity: 0.6;
}

.header-text p:first-of-type {
    margin-top: 25px;
}

.header-text p:last-of-type {
    margin-bottom: 35px;
}

.header-image {
    position: relative;
    bottom: 50px;
    right: -8px;
    width: 920px;
    z-index: 1;

}

.left-btn {
    background-color: #FF3E4B;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    color: white;
    padding: 15px;
    border-radius: 35px;
    border: none;
    width: 180px;
    margin-right: 30px;
}

.right-btn {
    background-color: white;
    padding: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 35px;
    width: 180px;
}

main,
.info,
.data,
.container,
.container-top,
.container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    gap: 15px;
    margin-top: 70px;
}

.container-top,
.container-bottom {
    padding: 50px;
    width: 1500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}

.container-top img,
.container-bottom img {
    width: 350px;
    margin-bottom: 30px;
}

.bubble {
    transform: translateX(-50%);
    position: absolute;
    width: 320px;
    z-index: 0;
    left: 60px;
    bottom: 435px;
}

.bubble-two {
    transform: translateX(-50%);
    position: absolute;
    width: 320px;
    z-index: 0;
    right: -240px;
    bottom: -150px;
}

.company-image {
    margin-top: 80px;
    width: 500px;
}

.info {
    margin-top: 70px;
    width: 50%;
    text-align: center;
}

.info p {
    margin-bottom: 50px;
}

.info h1:nth-of-type(2) {
    margin-bottom: 20px;
}

.form-data {
    margin: 30px 0;
}

.red-text {
    margin-bottom: 10px;
    font-weight: 500;
}

.data input,
.data textarea {
    width: 170vh;
    border: none;
    background-color: #2F4880;
    padding: 15px;
    border-radius: 15px;
}

.data input::placeholder,
.data textarea::placeholder {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

input[type="text"] {
    margin: 15px 0 25px 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2F4880;
    margin: 10px 0;
}

.bottom-nav ul {
    font-weight: bold;
    color: white;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 35px;
    padding: 70px 0 40px 0;
}

footer p {
    color: white;
    padding-bottom: 50px;
    font-size: 12px;
}