@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-nav ul,
button {
    font-family: "Roboto", sans-serif;
}

.big-text,
.small-text {
    font-family: "Playwrite PE", sans-serif;
}

.top-nav ul,
.big-text,
button {
    color: #344783;
}

.top-nav ul,
button {
    font-weight: bold;
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.top-nav ul li:first-child {
    color: red;
}

.header-btn {
    border: 3px solid red;
    border-radius: 8px;
    padding: 15px 50px;
    margin-top: 30px;
}

.header-content {
    display: flex;
    margin-top: 70px;
}

.header-text {
    padding-left: 40px;
    z-index: 2;
}

.big-text {
    font-size: 70px;
}

.small-text {
    opacity: 0.6;
}

.header-text p:first-of-type {
    margin-top: 20px;
}
.header-text p:last-of-type {
    margin-bottom: 20px;
}

.header-image {
    width: 850px;
    z-index: 1;
}

.left-btn {
    background-color: #FF3E4B;
    color: white;
    padding: 15px;
    border-radius: 35px;
    border: none;
}

.right-btn {
    background-color: white;
    padding: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}