@media screen and (max-width: 600px) {
    .tm-header-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .placeholder {
        padding-top: 50px;
        height: auto;
    }

    .col-12.text-center.tm-section-title {
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 40px;
        padding-bottom: 30px;
    }

    .col-12.text-center {
        font-size: 24px;
        padding: 0 20px;
    }

    .tm-paging-links {
        font-size: 32px;
    }

    .row.tm-gallery {
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .tm-gallery-page {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .tm-gallery-item {
        max-width: 100%;

    }

    .tm-gallery-title {
        text-align: center;
        font-size: 35px;
    }

    .tm-gallery-description {
        font-size: 20px;
    }

    .tm-gallery-price {
        font-size: 30px;
    }

    .tm-cta-section {
        justify-content: center;
        padding: 0 30px;
        width: 100%;
    }

    .row,
    .tm-description-figure {
        width: 100%;
    }

    body > main > section.tm-cta-section.tm-section.tm-container-inner > article > article:nth-child(2) > article > h4 {
        text-align: left;
    }

    body > main > section.tm-cta-section.tm-section.tm-container-inner > article > article:nth-child(2) > article > p {
        font-size: 23px;
        padding-right: 26px;
    }

}