body {
    font-family: sans-serif;
}

article {
    border: 1px solid gray;
    margin: 30px 150px;
    padding: 15px;
}

header h1 {
    font-size: 1.5em;
}

.sub-header {
    font-weight: bold;
}

footer p {
    font-style: italic;
}