h1 {
    color: red;
}

p {
    font-size: xx-small;
}

.highlight {
    color: blueviolet;
}

#main_title {
    color: coral;
}

#special-paragraph {
    font-style: italic;
}

ul {
    list-style-type: lower-greek;
}

li {
    color: #101cce;
}

div {
    background: chartreuse;
}