.nav-container {
    background-color: #F5F5F5;
    max-width: 300px;
    border: 1px solid darkgray;
}

.nav-container ul {
    list-style-type: none;
}

.nav-container .nav-link {
    color: #C83022;
    text-decoration: none;
    margin: 5px 0;
    display: inline-block;
}

.nav-container .nav-link i {
    margin-right: 6px;
}

.button-container {
    margin-top: 40px;
}

.btn {
    padding: 6px 12px;
    color: white;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
}

.btn i {
    color: white
}

.btn-checkout {
    background-color: #83A94C;
    border-color: #6B9039;
}

.btn-info {
    background-color: #008ED1;
    border-color: #007AB7;
}

.btn-delete {
    background-color: #CB4136;
    border-color: #B32F26;
}